/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
/*-------------------
    TYPOGRAPHY
-------------------*/
body {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 40px;
    margin-bottom: 26px;
}
h2 {
    font-size: 36px;
    margin-bottom: 22px;
}
h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 16px;
    line-height: 1.5;
}


/*-------------------
    GRID LAYOUT
-------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.container-fluid {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.row > * {
    padding: 0 10px;
}

.col-20 {
    width: 20%;
}
.col-25 {
    width: 25%;
}
.col-30 {
    width: 30%;
}
.col-40 {
    width: 40%;
}
.col-50 {
    width: 50%;
}
.col-60 {
    width: 60%;
}
.col-70 {
    width: 70%;
}
.col-80 {
    width: 80%;
}
.col-100 {
    width: 100%;
}
.col-grow {
    flex-grow: 1;
}

/*-------------------
    GENERAL
-------------------*/
.bg-gray {
    background-color: #d3d3d3;
}



/*-------------------
    HEADER
-------------------*/
header {
    background-color: #265EE8;
    color: #fff;
}

.header-top {
    padding: 16px 0;
}

.header-top .row {
    align-items: center;
}

.main-nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.main-nav li {
    padding: 0 20px;
}
.main-nav li a {
    text-decoration: none;
    color: inherit;
}

.header-top .login {
    text-align: right;
}

.hero-container  {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./img/jumbo.png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.hero {
    max-width: 780px;
    width: 100%;
    text-align: center;

}

.hero-buttons {
    display: flex;
    justify-content: center;
}

.hero-buttons > button {
    margin: 0 8px;
}


/*-------------------
    BUTTONS
-------------------*/
.btn {
    background: transparent;
    border: none;
    font-family: inherit;
    padding: 8px 12px;
    border-radius: 40px;
}
.btn > i {
    margin-right: 8px;
    font-size: 14px;
}

.btn-primary {
    background-color: #fff;
}
.btn-secondary {
    background-color: #23272a;
    color: #fff;
}
.btn-tertiary {
    background-color: #8ea1e1;
    color: #fff;
}

.btn-large {
    font-size: 16px;
    padding: 10px 22px;
}
